
* {
	margin: 0;
	padding: 0;
}
 .mainpage{
 width:1920px;
 height:3888px;
 position:relative;	
 }
 /*标题部分*/
 .backg1{
 width:1920px;
 height:200px;
 background-color:black;
 }
 .login a{
 font-size:12px;
 color:white;
 text-decoration:none;
 }
 .login{
 width:60px;
 height:12px;
 position:absolute;
 margin-left:410px;
 margin-top:18px;
 }
 .sanheng{
 position:absolute;
 width:25px;
 height:20px;
 margin-top:13px;
 margin-left:1519px;
 }
 .sanh{
 width:25px;
 height:3px;
 background-color:white;
 margin-top:3px;
 }
 .logo{
 background:url(../1/logo.png);
 width:300px;
 height:110px;
 margin-top:45px;
 margin-left:811px;
  position:absolute;
 }
 .nav{
 width:1200px;
 height:30px;
 position:absolute;
 margin-top:170px;
 margin-left:360px;
 }
 .nav ul{
 width:1200px;
 height:30px;
 }
 .nav li{
 list-style:none;
 width:240px;
 height:30px;
 float:left;
 text-align:center;
 }
 .nav a{
 text-decoration:none;
 font-size:16px;
 color:#848484;
 font-family:宋体;
 }
  .navhover{
 border-bottom:white 4px solid;
 width:240px;
 height:8px;
 float:left;
 display:none;
 }
 .nav li:hover a{
 color:white;
 }
 .nav li:hover .navhover{
 display:block;
 }
 .whiteline{
 width:1920px;
 height:2px;
 background-color:white;
 position:absolute;
 margin-top:198px;
 }
 /*中间第一部分*/
 .part1{
 background:url(../1/52.png)no-repeat center;
 width:1920px;
 height:718px;
 margin-top:-13px;
 padding-top:18px;
 }
 .part1m1{
 width:406px;
 height:700px;
 margin:0 auto;
 text-align:center;
 overflow:hidden;
 position:relative;
 }
 .part1m1p1{
 width:244px;
 height:627px;
background:url(../1/50.png)no-repeat;
margin:-47px auto 0;
 }
 .part1m1p2{
 width:406px;
 height:274px;
 background:url(../1/49.png)no-repeat center;
 margin:-140px auto 0;
 }
 .part1p1{
 position:absolute;
 width:379px;
 height:84px;
 background:url(../1/51.png)no-repeat;
 left:765px;
 top:380px;
 }
 .part1t1{
 background:url(../1/48.png);
 position:absolute;
 width:234px;
 height:55px;
 top:414px;
 left:473px;
 }
  .part1t2{
 background:url(../1/47.png);
 position:absolute;
 width:294px;
 height:56px;
 top:500px;
 left:528px;
 }
  .part1t3{
 background:url(../1/46.png);
 position:absolute;
 width:164px;
 height:17px;
  top:593px;
 left:528px;
 }
  .part1t4{
 background:url(../1/45.png);
 position:absolute;
 width:88px;
 height:17px;
  top:629px;
 left:618px;
 }
 .threeline{
 width:420px;
 height:6px;
 position:absolute;
 top:845px;
 left:750px;
 }
.threeline li{
list-style:none;
width:100px;
height:6px;
background-color:#6c6c6c;
float:left;
margin-right:20px;
margin-left:20px;
}
.threeline li:hover{
background-color:white;
}
 /*中间第二部分*/
 .part2{
 width:1920px;
 height:700px;
 margin-top:-18px;
 }
 .part2main{
 width:1920px;
 height:700px;
 position:relative;
 }
 .part2p1{
 width:1260px;
 height:698px;
 background:url(../1/44.png);
 position:absolute;
 }
 .part2p2{
 width:1177px;
 height:698px;
 background:url(../1/43.png);
 position:absolute;
 right:0;
 }
 .part2t1{
 width:188px;
 height:44px;
 background:url(../1/12.png);
 top:935px;
 left:840px;
 position:absolute;
 }
 .part2t2{
 width:243px;
 height:17px;
 background:url(../1/37.png);
 top:1000px;
 left:888px;
 position:absolute;
 }
 .part2t3{
 width:188px;
 height:44px;
 background:url(../1/39.png);
 top:1484px;
 left:823px;
 position:absolute;
 }
 .part2t4{
 width:198px;
 height:17px;
 background:url(../1/38.png);
 top:1543px;
 left:785px;
 position:absolute;
 }
  /*中间第三部分*/
 .part3{
 width:1920px;
 height:640px;
 background-color:#f7f7f7;
 }
 .part3main{
 width:1200px;
 height:640px;
 background-color:white;
 margin:0 auto;
 }
 .part3p{
 width:1200px;
 height:402px;
 position:absolute;
 left:50%;
 top:50%;
  margin-left:-600px;
 margin-top:-201px;
 }
 .part3 li{
 list-style:none;
 float:left;
 width:302px;
 height:402px;
 border:#eeeeee 1px solid;
 margin-left:48px;
 margin-right:48px;
 }
 .part3left{
 margin-left:48px;
 padding-top:20px;
 width:363px;
 height:61px;
 position:absolute;
 }
 .part3left2{
 width:140px;
 height:41px;
 float:right;
 margin-top:-15px;
 }
 .part3right{
 width:86px;
 height:36px;
 position:absolute;
 margin-left:1114px;
 margin-top:15px;
 }
 .part3button{
 width:298px;
 height:48px;
 border:black 1px solid;
 left:816px;
 top:2170px;
 position:absolute;
 }
 .part3rightb1{
 margin-top:15px;
width:298px;
 height:48px;
 margin-left:-35px;
 }
  .part3rightb{
 width:60px;
 height:18px;
 margin-left:210px;
 margin-top:-15px;
 }

  /*中间第四部分*/
.part4{
width:1920px;
height:701px;
}
 .part2main{
 width:1920px;
 height:701px;
 position:relative;
 }
 .part4p1{
 width:1264px;
 height:701px;
 background:url(../1/33.png);
 position:absolute;
 }
 .part4p2{
 width:1176px;
 height:701px;
 background:url(../1/32.png);
 position:absolute;
 right:0;
 }
 .part4t1{
 width:235px;
 height:55px;
 background:url(../1/16.png);
 top:2273px;
 left:645px;
 position:absolute;
 }
 .part4t2{
 width:236px;
 height:55px;
 background:url(../1/15.png);
 top:2375px;
 left:765px;
 position:absolute;
 }
 .part4t3{
 width:117px;
 height:60px;
 color:white;
 font-size:60px;
 top:2670px;
 left:1001px;
 position:absolute;
 }
 .part4t4{
 width:22px;
 height:24px;
 color:white;
 font-size:24px;
 top:2750px;
 left:965px;
 position:absolute;
 }
 .part4t5{
 width:800px;
 height:20px;
 color:white;
 font-size:20px;
 top:2800px;
 left:880px;
 position:absolute;
 }
 .part4t6{
 width:1000px;
 height:20px;
 color:white;
 font-size:20px;
 top:2850px;
 left:830px;
 position:absolute;
 }
  /*中间第五部分*/
  .part5{
 width:1920px;
 height:640px;
 background-color:#f7f7f7;
 }
 .part5main{
 width:1200px;
 height:640px;
 background-color:white;
 margin:0 auto;
 }
 .part5p{
 width:1200px;
 height:402px;
 position:absolute;
 left:356px;
 top:3050px;
 }
 .part5 li{
 list-style:none;
 float:left;
 width:302px;
 height:402px;
 border:#eeeeee 1px solid;
 margin-left:48px;
 margin-right:48px;
 }
 .part5left{
 margin-left:48px;
 padding-top:20px;
 width:500px;
 height:61px;
 position:absolute;
 }
 .part5left2{
 width:140px;
 height:41px;
 float:right;
 margin-top:-15px;
 }
 .part3right{
 width:86px;
 height:36px;
 position:absolute;
 margin-left:1114px;
 margin-top:15px;
 }
 .part5button{
 width:298px;
 height:48px;
 border:black 1px solid;
 left:816px;
 top:3490px;
 position:absolute;
 }
 .part5rightb1{
 margin-top:15px;
width:298px;
 height:48px;
 margin-left:-35px;
 }
  .part5rightb{
 width:60px;
 height:18px;
 margin-left:210px;
 margin-top:-15px;
 }
   /*底部*/
 .bottom{
 width:1920px;
 height:300px;
 background-color:black;
 }
 .bottommiddle{
 width:1200px;
 height:100px;
 margin:0 auto;
 position:absolute;
 bottom:150px;
 left:360px;
 }
 .bottom li{
 list-style:none;
 float:left;
 }
 .bottomli1{
 width:400px;
 height:100px;
 float:left;
 text-align:center;
 }
 .bottomli2{
 width:400px;
 height:100px;
 float:left;
 }
 .bottomli3{
 width:400px;
 height:100px;
 float:left;
 }
 .bottomli2 li{
 padding-left:20px;
 padding-right:20px;
 }
 .bottomt1{
 width:300px;
 height:50px;
 font-size:20px;
 color:white;
 }
 .bottomt2{
  color:white;
 width:400px;
 height:40px;
 font-size:15px;
 }
 .bottomline{
 width:1920px;
 height:40px;
 border-top:#666666 2px solid;
 position:absolute;
 bottom:0;
 }
 .bottomtext{
 width:568px;
 height:10px;
 background:url(../1/64.png)no-repeat;
 margin:10px auto 0;
 }
